@font-face {
  font-family: "Gotham";
  src: url("/font/GOTHAMNL.eot");
  src: url("/font/GOTHAMNL.eot?#iefix") format("embedded-opentype"), url("/font/GOTHAMNL.woff") format("woff"), url("/font/GOTHAMNL.ttf") format("truetype"), url("/font/GOTHAMNL.svg#svgFontName") format("svg");
}

.quote {
  font-family: Californian FB;
  font-weight: bold;
  color: grey;
  padding: 70px;
}

.main-text {
  font-family: Californian FB;
  font-weight: bold;
}

.header-image {
  text-align: center;
  margin-bottom: 30px;
}

.header-text {
  overflow: hidden;
  text-align: center;
  text-justify: auto;
}

.img-background {
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

.img-logo {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  top: 5vw;
  width: 10vw;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.text-scroll-down {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -100%);
  z-index: 2;
  font-family: Californian FB;
  color: #fafafa;
}

.arrow-down {
  border: double #fafafa;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.secondary-text {
  font-family: Gotham Narrow Light;
  color: grey;
}

.link {
  font-family: Gotham Narrow Light;
  color: grey;
}

.link:hover {
  text-decoration: underline;
}

.contact {
  margin-top: 58px;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
  text-justify: auto;
  background-color: #fafafa;
}

.footer {
  font-family: Californian FB;
  font-size: smaller;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 144px;
}

.margins {
  margin-bottom: 50px;
}

.right-align {
  text-align: right;
}

.navigation {
  text-align: center;
  margin-bottom: 70px;
}

.navigation-links {
  font-family: Californian FB;
  font-weight: bold;
  color: grey;
  margin: 10px;
}

.navigation-links:hover {
  text-decoration: underline;
}
